.queDiferencaBannerRight{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

.queDiferencaContainer{
    display: flex;
    justify-content: flex-end;
}

.queDiferencaContainer h1 {
    text-align: center;
}

.queDiferencaContainer h3 {
    text-align: center;
}

.queDiferencaImg{
    display: flex;
    width: 100%;
    justify-content: stretch;
}
.ico{
    font-size: 44px;
    color: white;
}

.icoBkg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: var(--btn2-bg-color);

}

.icoContainer{
    display: flex;
    gap: 15px;
}

.icoInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icoInfoContainer h2{
    font-weight: bold;
    font-size: larger;
}

.icoContainers{
    display: flex;

    gap: 40px;

}