


ul{
    list-style: none;
}

/* .navContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
} */

.navMenuTxt{
    padding: 5px;
    
}
.navMenuTxt:hover{
    background-color: var(--btn-hover-bg-color);
}

.navLi:hover{
    border-bottom: 2px solid var(--btn-hover-bg-color);
    cursor: pointer;
    text-shadow: #FC0 1px 0 10px;
}

.navLiActive{
    border-bottom: 2px solid var(--btn-hover-bg-color);
    cursor: pointer;
    text-shadow: #FC0 1px 0 10px;
    padding: 18px;

}



.navLi{
    padding: 15px;
    width: 200px;
    height: 55px;
}

.logo h2{
    font-size: 2em;
    color: skyblue;
}

/* 
UL ->
flex flex-col md:flex-row items-center */

.hamburger-menu{
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1%;
    right: 30px;
}
/* 
.hamburger{
    top: 60%;
    left: 10%;
    width: 25px;
    height: 6px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}

.hamburger::after{
    content: "";
    width: 30px;
    height: 6px;
    background-color: white;
    position: relative;
    display: block;
    bottom: -5px;
    border-radius: 20px;
    transform: rotate(225deg);
    transition: 0.5s ease-in-out;
}

.hamburger::before{
    content: "";
    width: 30px;
    height: 6px;
    background-color: white;
    position: relative;
    display: block;
    top: -10px;
    border-radius: 20px;
    transform: rotate(225deg);
    transition: 0.5s ease-in-out;
}

.icon.iconActive .hamburger:after{
    top: 0;
    transform: rotate(225deg);
}

.icon.iconActive .hamburger:before{
    top: 0;
    transform: rotate(135deg);
} */