.testemunhosContainer {

    background: #391d747a;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
}

.testemunhos h1 {
    text-align: center;
    height: fit-content;
}

.testemunhosInfo {
    border-bottom: 1px solid white
}


.testemunialFoto img {

    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    width: 150px;
    height: 150px;

}

/* 
.divTestemunhos{
    margin: auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.456);
    height: 1px;
}

.divTestemunhosText{
    margin: 35px auto;
    
    width: 90%;
    height: 60%;
    height: 1px;
    text-align: justify;
}

.testemunhosBtn{
    margin: 25px;
    border-style: none;
    width: 20px
    
}

.testemunhosImg1{
    position: relative;
    width: 100px;
    top: 270px;
    right: -40px;
}

.testemunhosImg2{
    position: relative;
    width: 80px;
    top: 470px;
    right: 65px;
}

.testemunhosImg3{
    position: relative;
    width: 50px;
    top: 120px;
    right: 200px;
}

.testemunhosImg4{
    position: relative;
    width: 120px;
    top: 70px;
    left: 250px;
}

.testemunhosImg5{
    position: relative;
    width: 50px;
    top: 470px;
    left: 30px;
}

.testemunhosImg6{
    position: relative;
    width: 80px;
    top: 270px;
    right: 80px;
} */