.btnFilter{
    border: none;
    margin: 10px 15px;
    padding: 2px 5px;
}
.btnFilter:hover:after{
    content: "";
    width: 70%;
    height: 2px;
    background-color: var(--btn-hover-bg-color);
    
}

.btnFilter:hover{
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid white;
    border-radius: 0 0 15px 0;
}

.active{
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid white;
    border-radius: 0 0 15px 0;
}

.filterComponent{
    
    border: 1px solid var(--main-btn-border-color);
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 25px;
    width: 100wv;
    display: flex;
    flex-direction: column;
    
    

}
