.btnFilter{
    border: none;
    max-width: 150px;
    padding: 15px;
}

.btnFilter:hover{
    text-decoration: underline overline white;
    transform: scale(1.05);


    transition: all 0.2s ease-in-out;
}

.filterComponent{
    
    border: 1px solid var(--main-btn-border-color);
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 25px;
    width: 100wv;

}
/* 
.filterComponent button{
    padding: 15px 5px;
    width: 100px;

} */