ul{
    list-style: none;
}

/* .navContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
} */

.navMenuTxt{
    padding: 5px;
    
}
.navMenuTxt:hover{
    background-color: var(--btn-hover-bg-color);
}

li:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    border-radius: 25px;
}

.navMenuUl{
    max-width: 80vw;
}

li{
    padding: 25px;
}

.logo h2{
    font-size: 2em;
    color: skyblue;
}