ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.btnNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 28px;
    gap: 8px;
}
button{
    border: 2px solid #FFFFFF;
    padding: 16px 28px;
    /* Shadow/xs */
    
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    border-radius: 38px;
    background-color: transparent;
    border: 2px solid white;
    color: var(--main-text-color);
    
}
.btn2{
    background-color: #7F56D9;
}

.btn1, .btn2{
    width: 125px;
    height: 63;
}

.btn2:hover, .btn1:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}