.btnFilter{
    border: none;
    width: 150px;
    padding: 15px;
}

.btnFilter:hover{
    background-color: var(--btn-hover-bg-color);
    transition: all 0.2s ease-in-out;
    border-radius: 35px;
}

.filterComponent{

    border: 1px solid var(--main-btn-border-color);
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 25px;

}
/* 
.filterComponent button{
    padding: 15px 5px;
    width: 100px;

} */