.btnFilter{
    width: fit-content;
    height: 63;
    border: none;
}

.btnFilter:hover{
    background-color: var(--btn-hover-bg-color);
    transition: all 0.2s ease-in-out;
}

.filterComponent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    border: 1px solid var(--main-btn-border-color);
    background-color: rgba(255, 255, 255, 0.1);

    padding: 10px;
    width: fit-content;
    border-radius: 35px;

}