.headerCursoAuthorDetails{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 200px;
    padding: 15px;

    color: black;

    z-index: -2;
}

.headerCursoAuthorDetails img{

    width: 100%;
    max-height: 350px;
    
}

.detalheGrid li{
    width: 500px;
}

.gridDetalhes{
    position: relative;

}


.headerCursoDetails img{
    display: flex;
    justify-content: flex-end;
    background-color: var(--btn2-bg-color);
    background-position: center;
    width: 150px;
    height: 150px;
    z-index: 2;
    border-radius: 50%;

}



.ulTxtCursoDetails li{
    color: white;

}

.CursoDetailsShopCardMain{
    color: black;
}

.cardTime{
    color: var(--btn2-bg-color);
}

.buyBtn{
    width: 200px;
    height: 60px;
    background-color: var(--btn-comprar-color);
    border-radius: 15px;
    color: white;

}

.buyBtn:hover{
    transform: scale(1.05);
    transition: all ease-in-out 300ms;
    background-color: var(--btn-comprar-color);
    border-radius: 15px;
    color: white;

}

.hrSep{
    color: var(--btn-comprar-color);
}

.courseDetailsHeader{
    border-radius: 25px;
}