
:root{
    --main-text-color: white;
    --main-btn-border-color: #FFFFFF;
    --sec-text-color:  #BEA0FF;
    --btn-hover-bg-color:  #7F56D9;
    --btn-comprar-color: #49BBBD;
    --btn2-bg-color: #7F56D9;
}

#root {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: var(--main-text-color);
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #2C1F4A;
}
.container{
    max-width: 1280px;
    margin: auto;
}

.btnComprar{
    width: 200px;
    height: 70px;
    font-size: 1.4em;
    background-color: #49BBBD;
}

span{
    color: var(--sec-text-color);
}