
:root{
    --main-text-color: white;
    --main-btn-border-color: #FFFFFF;
    --sec-text-color:  #BEA0FF;
    --btn-hover-bg-color:  #7F56D9;
    --btn-comprar-color: #49BBBD;
    --btn2-bg-color: #7F56D9;
}

#root {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color: var(--main-text-color);
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #2C1F4A;
}
/* .container{
    max-width: 1280px;
    margin: auto;
} */

.btnComprar{

    width: fit-content;
    padding: 15px;
    border-radius: 25px;
    font-size: 1.4em;
    background-color: #49BBBD;
}

span{
    color: var(--sec-text-color);
}

.btn2{
    background-color: var(--btn2-bg-color);
}

.btn1, .btn2{
    border: 2px solid var(--main-btn-border-color);
    padding: 16px 28px;
    
    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
    border-radius: 38px;
    background-color: transparent;
    color: var(--main-text-color);
    width: 125px;
    height: 63;
}

.btn2:hover, .btn1:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    background-color: var(--sec-text-color);
}

h1, h3{
    text-align: left;
}
h1{
    font-size: 4rem;
}
h3{
    font-weight: 300;
    font-size: 1.3em;
    color: #B0B0D1;
    ;
}